# Terraform - NEVER upload these
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Sensitive files
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS credentials
.aws/
*.pem

# Infracost cache files
.infracost/*.gob
.infracost/terraform_modules/
